<!--  RIGHT CONTENT  -->
<div class="right-content">

    <!--  //HOME PAGE  -->

    <!--  SERVICE  -->
    <div class="service main-block">
        <div class="left-content col-lg-9">
            <div class="scroller">

                <article class="left-content-text">
                  <table class="table">
                    <thead class="thead-default">
                      <tr>
                        <th>ID</th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <% @users.each do |user| %>
                        <th scope="row"><%= user.id %></th>
                        <td><%= user.name %></td>
                        <td><%= user.email %></td>
                        <td><%= user.phone %></td>
                          <th><a href="">Delete</a></th>
                      </tr>
      <% end %>
                    </tbody>
                  </table>

                </article>
            </div>
            <div class="scroller__track">
                <div class="scroller__bar"></div>
            </div>
        </div>
        <!--  //RIGHT CONTENT  -->

    </body>
</html>
