<!--  RIGHT CONTENT  -->
<div class="right-content">

    <!--  //HOME PAGE  -->

    <!--  SERVICE  -->
    <div class="service main-block">
        <div class="left-content col-lg-9">
            <div class="scroller">

                <article class="left-content-text">

                  <table class="table">
                    <thead class="thead-default">
                      <tr>
                        <th></th>
                        <th>First Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th></th>

                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <th scope="row">1</th>
                        <td>Mark</td>
                        <td>Otto</td>
                        <td>Mark</td>
                          <th><a href="">Delete</a></th>
                      </tr>
                      <tr>
                        <th scope="row">2</th>
                        <td>Jacob</td>
                        <td>Thornton</td>
                        <td>Mark</td>
                          <th><a href="">Delete</a></th>
                      </tr>
                    </tbody>
                  </table>

                </article>
            </div>
            <div class="scroller__track">
                <div class="scroller__bar"></div>
            </div>
        </div>
        <!--  //RIGHT CONTENT  -->

    </body>
</html>
