<!doctype html>
<html lang="en">
    <head>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <title>Industryhack_</title>

    </head>

    <body>
        <!--  PRELOADER  -->
        <img id="preloader" alt="" src="assets/preloader.GIF">
        <!--  //PRELOADER  -->

        <!--  LEFT MENU  -->
        <div class="left-menu">
            <!--  LOGO  -->
            <a class="logo" href="index.html">
                Industryhack<em class="orange">_</em>
            </a>
            <!--  //LOGO  -->

            <!--  NAVIGATION  -->
            <nav class="main-navi">
                <ul>
                    <li>
                        <a href="login.html" class="active">
                            Log in
                            <span class="dot"></span>
                            <span class="corner"></span>
                        </a>
                    </li>
                    <li>
                    <a href="signup.html">
                        Create an account
                        <span class="dot"></span>
                        <span class="corner"></span>
                    </a>
                </li>
                    <li id="portfolioLink">
                        <div>
                            Profile
                            <span class="dot"></span>
                            <span class="corner"></span>
                        </div>
                        <ul class="drop-down">
                            <li>
                                <a href="portfolio_three_column.html">
                                    Hacker profile
                                </a>
                            </li>
                            <li>
                                <a href="portfolio_four_column.html">
                                    Your hackathons
                                </a>
                            </li>
                            <li>
                                <a href="portfolio_horizontal.html">
                                    Your teams
                                </a>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <div>
                            Hack
                            <span class="dot"></span>
                            <span class="corner"></span>
                        </div>
                        <ul class="drop-down">
                            <li>
                                <a href="about.html">
                                    Next events
                                </a>
                            </li>
                            <li>
                                <a href="team.html">
                                    Create a team
                                </a>
                            </li>
                            <li>
                                <a href="team.html">
                                    Invite hackers
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li>
                        <div>
                            About hackathons
                            <span class="dot"></span>
                            <span class="corner"></span>
                        </div>
                        <ul class="drop-down">
                            <li>
                                <a href="blog.html">
                                    What is a hackathon?
                                </a>
                            </li>
                            <li>
                                <a href="blog_single.html">
                                    Who can attend?
                                </a>
                            </li>
                            <li>
                                <a href="blog_single.html">
                                    What to bring
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="contact.html">
                            Contacts
                            <span class="dot"></span>
                            <span class="corner"></span>
                        </a>
                    </li>
                </ul>
                <em id="showHideMenu" class="show-hide-menu glyph fa-bars" href=""></em>
            </nav>
            <!--  //NAVIGATION  -->

            <!--  TWITTER  -->
            <div class="twitter-block flexslider">
                <span class="glyph fa-twitter"></span>
                <ul class="slides">
                    <li>
                        <div class="name">@industry_hack</div>
                        <p class="mini">Honored for the recognition from the community, THANK YOU! #bluearrowawards #propellerhead #industryhack.</p>

                    </li>
                    <li>
                        <div class="name">@industry_hack</div>
                        <p class="mini">The winner of 12th #industryhack and #hacktheturbine #fortumhack is Proximity w/ their UMM plugin for traders!</p>

                    </li>
                    <li>
                        <div class="name">@industry_hack</div>
                        <p class="mini">Jury is pondering which team shall win the #fortumhack #industryhack.</p>

                    </li>
                </ul>
            </div>
            <!--  //TWITTER  -->

            <!--  SOCIAL ICONS  -->
            <div class="soc-icons">
                <a class="glyph fa-twitter" href=""></a>
                <a class="glyph fa-facebook" href=""></a>
                <a class="glyph fa-google-plus" href=""></a>
                <a class="glyph fa-linkedin" href=""></a>
                <a class="glyph fa-dribbble" href=""></a>
                <a class="glyph fa-pinterest" href=""></a>
            </div>
            <!--  //SOCIAL ICONS  -->
            <p class="copy">
                <!-- Copyright © 2014, All Rights Reserved -->
            </p>
        </div>
        <!--  //LEFT MENU  -->

        <!--  RIGHT CONTENT  -->

        <!--  RIGHT CONTENT  -->
        <div class="right-content">

            <!--  //HOME PAGE  -->

            <!--  SERVICE  -->
            <div class="service main-block">
                <div class="left-content col-lg-9">
                    <div class="scroller">
                        <!--  IMAGES SLIDER  -->
                        <!-- <div class="flexslider">
                                <ul class="slides">
                                    <li>
                                        <a href="">
                                            <img src="../images/ih8.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/ih4.jpg" alt="" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="">
                                            <img src="../images/ih9.jpg" alt="" />
                                        </a>
                                    </li>
                                </ul>
                            </div> -->
                        <!--  //IMAGES SLIDER  -->
                        <article class="left-content-text">

                            <strong>Create a new Industryhack account</strong>
                                  <p class="mini">Welcome to Industryhack and congratulations on your great decision to start hacking. Whether you are a company wishing to host a hack or a programmer willing to participate and find your team we are happy to have you on board.</p>
                                  <p class="mini">Choose below your account type</p>
                                  <div class="row service-details">
                                  <a href="hackersignup.html"><button type="button" class="btn btn-warning">Create account as hacker</button></a>
                                  <button type="button" class="btn btn-warning">Create account as company</button>

                        </article>
                    </div>
                    <div class="scroller__track">
                        <div class="scroller__bar"></div>
                    </div>
                </div>
                <!--  //RIGHT CONTENT  -->

            </body>
        </html>
