<!doctype html>
<html lang="en">
<head>
<meta content="width=device-width, initial-scale=1.0" name="viewport">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<title>Industryhack_</title>



</head>

<body>
    <!--  PRELOADER  -->
    <img id="preloader" alt="" src="assets/preloader.GIF">
    <!--  //PRELOADER  -->

    <!--  LEFT MENU  -->
    <div class="left-menu">
        <!--  LOGO  -->
        <a class="logo" href="index.html">
            Industryhack<em class="orange">_</em>
        </a>
        <!--  //LOGO  -->

        <!--  NAVIGATION  -->
        <nav class="main-navi">
            <ul>
                <!-- <li>
                    <a id="homeLink" href="index.html">
                        Home
                        <span class="dot"></span>
                        <span class="corner"></span>
                    </a>
                </li> -->
              </li>
              <li>
                  <a href="login.html">
                      Log in
                      <span class="dot"></span>
                      <span class="corner"></span>
                  </a>
              </li>
              <li>
                  <a href="signup.html">
                      Create an account
                      <span class="dot"></span>
                      <span class="corner"></span>
                  </a>
              </li>
                <li id="portfolioLink">
                    <div>
                        Profile
                        <span class="dot"></span>
                        <span class="corner"></span>
                    </div>
                    <ul class="drop-down">
                        <li>
                            <a href="portfolio_three_column.html">
                                Hacker profile
                            </a>
                        </li>
                        <li>
                            <a href="portfolio_four_column.html">
                                Your hackathons
                            </a>
                        </li>
                        <li>
                            <a href="portfolio_horizontal.html">
                                Your teams
                            </a>
                        </li>

                    </ul>
                </li>
                <li>
                    <div>
                        Hack
                        <span class="dot"></span>
                        <span class="corner"></span>
                    </div>
                    <ul class="drop-down">
                        <li>
                            <a href="about.html">
                                Next events
                            </a>
                        </li>
                        <li>
                            <a href="team.html">
                                Create a team
                            </a>
                        </li>
                        <li>
                            <a href="team.html">
                                Invite hackers
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <div>
                        About hackathons
                        <span class="dot"></span>
                        <span class="corner"></span>
                    </div>
                    <ul class="drop-down">
                        <li>
                            <a href="blog.html">
                                What is a hackathon?
                            </a>
                        </li>
                        <li>
                            <a href="blog_single.html">
                                Who can attend?
                            </a>
                        </li>
                        <li>
                            <a href="blog_single.html">
                                What to bring
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="contact.html">
                        Contacts
                        <span class="dot"></span>
                        <span class="corner"></span>
                    </a>
                </li>
            </ul>
            <em id="showHideMenu" class="show-hide-menu glyph fa-bars" href=""></em>
        </nav>
        <!--  //NAVIGATION  -->

        <!--  TWITTER  -->
        <div class="twitter-block flexslider">
            <span class="glyph fa-twitter"></span>
            <ul class="slides">
                <li>
                    <div class="name">@industry_hack</div>
                    <p class="mini">Honored for the recognition from the community, THANK YOU! #bluearrowawards #propellerhead #industryhack.</p>

                </li>
                <li>
                    <div class="name">@industry_hack</div>
                    <p class="mini">The winner of 12th #industryhack and #hacktheturbine #fortumhack is Proximity w/ their UMM plugin for traders!</p>

                </li>
                <li>
                    <div class="name">@industry_hack</div>
                    <p class="mini">Jury is pondering which team shall win the #fortumhack #industryhack.</p>

                </li>
            </ul>
        </div>
        <!--  //TWITTER  -->

        <!--  SOCIAL ICONS  -->
        <div class="soc-icons">
            <a class="glyph fa-twitter" href=""></a>
            <a class="glyph fa-facebook" href=""></a>
            <a class="glyph fa-google-plus" href=""></a>
            <a class="glyph fa-linkedin" href=""></a>
            <a class="glyph fa-dribbble" href=""></a>
            <a class="glyph fa-pinterest" href=""></a>
        </div>
        <!--  //SOCIAL ICONS  -->
        <p class="copy">
            <!-- Copyright © 2014, All Rights Reserved -->
        </p>
    </div>
    <!--  //LEFT MENU  -->

    <!--  RIGHT CONTENT  -->
    <div class="right-content">
        <!--  HOME PAGE  -->
        <!--  SLIDER  -->
        <div class="flexslider home-page">
            <ul class="slides">
                <li class="images-bg">
                    <!--  SLIDER IMAGE  -->
                    <%= image_tag 'ih8.jpg' %>

                    <!--  //SLIDER IMAGE  -->

                    <!--  CIRCLE  -->
                    <div class="circle">
                        <div class="home-title left">
                            <span>
                                Join <strong>the</strong>
                            </span>
                            <span>
                                <strong></strong> hack
                            </span>
                            <p>Bringing innovation to life.</p>
                        </div>

                    </div>
                    <!--  //CIRCLE  -->
                </li>
                <li class="images-bg">
                    <!--  SLIDER IMAGE  -->
                    <%= image_tag 'ih4.jpg' %>
                    <!--  //SLIDER IMAGE  -->

                    <!--  CIRCLE  -->
                    <div class="circle">
                        <div class="home-title top">
                            <span>
                                <strong>Join</strong> the
                            </span>
                            <span>
                                <strong>hack</strong>
                            </span>
                            <p>Bringing innovation to life.</p>
                        </div>

                    </div>
                    <!--  //CIRCLE  -->
                </li>
                <li class="images-bg">
                    <!--  SLIDER IMAGE  -->
                    <%= image_tag 'ih7.jpg' %>
                    <!--  //SLIDER IMAGE  -->

                    <!--  CIRCLE  -->
                    <div class="circle">
                        <div class="home-title zoom">
                            <span>
                                Join<strong>the</strong>
                            </span>
                            <span>
                                <strong>hack</strong>
                            </span>
                            <p>Bringing innovation to life</p>
                        </div>
                    </div>
                    <!--  //CIRCLE  -->
                </li>
            </ul>
        </div>
        <!--  //SLIDER  -->
        <!--  //HOME PAGE  -->


            <div class="scroller__track">
                <div class="scroller__bar"></div>
            </div>
        </div>

</body>
</html>
