

    <!--  RIGHT CONTENT  -->
    <div class="right-content">

        <!--  //HOME PAGE  -->

        <!--  SERVICE  -->
        <div class="service main-block">
            <div class="left-content col-lg-9">
                <div class="scroller">
                    <article class="left-content-text">

                        <strong>Create your Industryhack programmer account</strong>



                        <% if @user && @user.errors %>
                        <div class="alert alert-danger">
                          <%= @user.errors.full_messages[0] %>
                          </div>
                        <% end %>


                        <form style="width:500px" method="post">

                              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
                            <div class="form-group">

                                <label>Name</label>
                                <input type="newName" name="name" class="form-control" id="name" placeholder="Name">
                            </div>
                            <div class="form-group">

                                <label>Profile image url</label>
                                <input type="newImage" name="image_url" class="form-control" id="image_url" placeholder="Image url">
                            </div>
                            <div class="form-group">

                                <label>Email</label>
                                <input type="newEmail" name="email" class="form-control" id="email" placeholder="Email">
                            </div>
                            <div class="form-group">

                                <label>Occupation</label>
                                <input type="newEmail" name="occupation" class="form-control" id="occupation" placeholder="Occupation">
                            </div>
                            <div class="form-group">

                                <label>Phone number</label>
                                <input type="newPhone" name="phone" class="form-control" id="phone" placeholder="Phone number">
                            </div>
                            <div class="form-group">

                                <label>Nationality</label>
                                <input type="nationality" class="form-control" id="nationality" placeholder="Nationality">
                            </div>
                            <div class="form-group">

                                <label>Github username</label>
                                <input type="newGithub" name="github" class="form-control" id="github" placeholder="Github">
                            </div>

                            <div class="form-group">

                                <label>Password</label>
                                <input type="password" name="password" class="form-control" id="password" placeholder="Password">
                                <input type="password" name="password_confirmation" class="form-control <%= 'error' if @user && @user.errors.messages[:password_confirmation]  %>" id="password_confirmation" placeholder="Confirm password">
                            </div>

                            <!-- <div class="btn-group" role="group" aria-label="Basic example">

                                <button type="button" class="btn btn-secondary">Javascript</button>
                                <button type="button" class="btn btn-secondary">CSS</button>
                                <button type="button" class="btn btn-secondary">Ruby</button>
                                <button type="button" class="btn btn-secondary">Rails</button>
                                <button type="button" class="btn btn-secondary">AngularJS</button>
                                <button type="button" class="btn btn-secondary">React</button>
                                <button type="button" class="btn btn-secondary">NodeJS</button>
                            </div> -->
                            <p><button type="submit" class="btn btn-warning">Create account</button></p>
                        </form>


                    </article>
                </div>
                <div class="scroller__track">
                    <div class="scroller__bar"></div>
                </div>
            </div>
