<div class="right-content">
    <!--  HOME PAGE  -->
    <!--  SLIDER  -->
    <div class="flexslider home-page">
        <ul class="slides">
            <li class="images-bg">
                <!--  SLIDER IMAGE  -->
                <%= image_tag 'ih8.jpg' %>

                <!--  //SLIDER IMAGE  -->

                <!--  CIRCLE  -->
                <div class="circle">
                    <div class="home-title left">
                        <span>
                            Join<strong> the</strong>
                        </span>
                        <span>
                            <strong></strong> hack
                        </span>
                        <p>Bringing innovation to life.</p>
                    </div>

                </div>
                <!--  //CIRCLE  -->
            </li>
            <li class="images-bg">
                <!--  SLIDER IMAGE  -->
                <%= image_tag 'ih4.jpg' %>
                <!--  //SLIDER IMAGE  -->

                <!--  CIRCLE  -->
                <div class="circle">
                    <div class="home-title top">
                        <span>
                            <strong>Join </strong>the
                        </span>
                        <span>
                            <strong> hack</strong>
                        </span>
                        <p>Bringing innovation to life.</p>
                    </div>

                </div>
                <!--  //CIRCLE  -->
            </li>
            <li class="images-bg">
                <!--  SLIDER IMAGE  -->
                <%= image_tag 'ih7.jpg' %>
                <!--  //SLIDER IMAGE  -->

                <!--  CIRCLE  -->
                <div class="circle">
                    <div class="home-title zoom">
                        <span>
                            Join<strong> the</strong>
                        </span>
                        <span>
                            <strong> hack</strong>
                        </span>
                        <p>Bringing innovation to life</p>
                    </div>
                </div>
                <!--  //CIRCLE  -->
            </li>
        </ul>
    </div>
    <!--  //SLIDER  -->
    <!--  //HOME PAGE  -->


        <div class="scroller__track">
            <div class="scroller__bar"></div>
        </div>
    </div>
