<!--  RIGHT CONTENT  -->
<div class="right-content">

    <!--  //HOME PAGE  -->

    <!--  SERVICE  -->
    <div class="service main-block">
        <div class="left-content col-lg-9">
            <div class="scroller">
                <!--  IMAGES SLIDER  -->
                <!-- <div class="flexslider">
                        <ul class="slides">
                            <li>
                                <a href="">
                                    <img src="../images/ih8.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/ih4.jpg" alt="" />
                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <img src="../images/ih9.jpg" alt="" />
                                </a>
                            </li>
                        </ul>
                    </div> -->
                <!--  //IMAGES SLIDER  -->
                <article class="left-content-text">

                    <strong style="font-family: arial">Create a new Industryhack account</strong>
                          <p class="mini" style="text-transform: none">Welcome to Industryhack and congratulations on your great decision to start hacking. Whether you are a company wishing to host a hack or a programmer willing to participate and find your team we are happy to have you on board.</p>
                          <p class="mini">Choose below your account type</p>
                          <div class="row service-details">
                          <a href="/hackersignup"><button type="button" class="btn btn-warning">Create account as hacker</button></a>
                          <button type="button" class="btn btn-warning">Create account as company</button>

                </article>
            </div>

            <div class="scroller__track">
                <div class="scroller__bar"></div>
            </div>
        </div>
        <!--  //RIGHT CONTENT  -->
