
        <!--  RIGHT CONTENT  -->
        <div class="right-content">

            <!--  //HOME PAGE  -->

            <!--  SERVICE  -->
            <div class="service main-block">
                <div class="left-content col-lg-9">
                    <div class="scroller">

                        <article class="left-content-text">

                            <strong>Coming Hackathons</strong>

                            <p class="mini">Choose the team:</p>

                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="margin-bottom: 20px">
                                    Choose team
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                    <div>
                                        <a class="dropdown-item apply" href="#">Team Linux</a>
                                    </div>
                                    <div>
                                        <a class="dropdown-item apply" href="#">Team Atom</a>
                                    </div>
                                </div>
                            </div>

                            <p class="mini">Click the hackathon you wanted to apply:</p>

                        </article>
                    </div>
                    <div class="scroller__track">
                        <div class="scroller__bar"></div>
                    </div>
                </div>
                <!--  //RIGHT CONTENT  -->

            </body>
        </html>
