<!--  RIGHT CONTENT  -->
<div class="right-content">

    <!--  //HOME PAGE  -->

    <!--  SERVICE  -->
    <div class="service main-block">
        <div class="left-content col-lg-9">
            <div class="scroller">

                <article class="left-content-text">

                    <strong>Coming Hackathons</strong>

  <div class="wrapper">
                          <div class="hackathons">
                            <a href=""><img class="hackathon_img" src="http://industryhack.com/wp-site/wp-content/uploads/2016/04/fortumhack-small-1.jpg"></a>
                            <div class="hackathoninfo">
                              <div><b>Hack the ship </b>// 15-17 of June 2016</div>
                              <div>Hack the biggest ship in the Nordics </div>
                            </div>
                              <!-- <span><em></em></span> -->

<script>



</script>
                          </div>
</div>

                </article>
            </div>
            <div class="scroller__track">
                <div class="scroller__bar"></div>
            </div>
        </div>
        <!--  //RIGHT CONTENT  -->

    </body>
</html>
